<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<tal:block metal:use-macro="macro.html/head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Keywords" content="乐研屋" />
<meta name="Description" content="游戏教育 亲子活动 玩具城" />
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<title>乐研屋</title>
</tal:block>
<script type="text/javascript" src="templates/common/jquery.js"></script>
<script type="text/javascript">

$(document).ready(function(){

	$("#uid").focus();

});

</script>

</head>
<body>
<div>

<tal:block metal:use-macro="macro.html/nav">
	<b>新用户注册</b> | <b>最新注册用户</b> | <b>回到首页</b> |  <b><a href="?action=loginout">退出</a></b>
	<hr />	
</tal:block>


<form method='get' action='?'>
	<table border="1">
		<tr>
			<td>学号:<input type='text' name='uid' size="30" id="uid" /> <input type='hidden' value="findUser" name="action" /></td>
			<td><input type='submit' /></td>
		</tr>		
	</table>
</form>
</div>
</body>
</html>

