<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<tal:block metal:use-macro="macro.html/head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Keywords" content="乐研屋" />
<meta name="Description" content="游戏教育 亲子活动 玩具城" />
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<title>乐研屋</title>
</tal:block>

<script language="JavaScript" type="text/javascript"> 
function avatar_success()
{
	alert("头像保存成功"); 
	location.href="./admin.php?action=findUser&uid=${uid}";
}
</script>

</head>
<body>

<tal:block metal:use-macro="macro.html/nav">
	<b>新用户注册</b> | <b>最新注册用户</b> | <b>回到首页</b> |  <b><a href="?action=loginout">退出</a></b>
	<hr />	
</tal:block>


<div>

<form action='?action=login' method='post'>

<table border='1' >
	<tr>
		<td>头像:</td>

		<td>
							<embed src="templates/admin/face.swf" quality="high" wmode="opaque" FlashVars="defaultImg=img/1_120.jpg?id=<?=create_password(6)?>" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="530" height="480"></embed>

		</td>
	</tr>


</table>	

</form>
</div>
</body>
</html>

