<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<tal:block metal:use-macro="macro.html/head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Keywords" content="乐研屋" />
<meta name="Description" content="游戏教育 亲子活动 玩具城" />
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<title>乐研屋</title>
</tal:block>
</head>
<body>
<div>

<form action='?action=login' method='post'>

<table border='1' >
	<tr>
		<td>用户名:</td><td><input type='text' name='name' /></td>
	</tr>
	<tr>
		<td>密码:</td><td><input type='password' name='pw' value=""/></td>
	</tr>
	<tr>
		<td></td><td><input type='submit' value='提交' /></td>
	</tr>

</table>	

</form>
</div>
</body>
</html>

