<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<tal:block metal:use-macro="macro.html/head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Keywords" content="乐研屋" />
<meta name="Description" content="游戏教育 亲子活动 玩具城" />
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<title>乐研屋</title>
</tal:block>

<link rel="stylesheet" type="text/css" href="templates/common/common.css"></link>
</head>
<body>
<div>

<tal:block metal:use-macro="macro.html/nav">
	<b>新用户注册</b> | <b>最新注册用户</b> | <b>回到首页</b> |  <b><a href="?action=loginout">退出</a></b>
	<hr />	
</tal:block>


<tal:block metal:use-macro="macro.html/userNav">
	<b>新用户注册</b> | <b>最新注册用户</b> | <b>回到首页</b> |  <b><a href="?action=loginout">退出</a></b>
	<hr />	
</tal:block>


<table style="border-collapse:collapse;border-color:#333333" cellpadding="7px" cellspacing="2px" border="1px">
	<tr>
		<th colspan="2" align="center">用户信息</th>
	</tr>	
	<tr>
		<td>用户头像</td><td><img src="${info/big}" /></td>
	</tr>	
	<tr>
		<td>用户学号：</td><td><b><font color="red">${info/uid}</font></b></td>
	</tr>
	<tr>
		<td>用户名称：</td><td>${info/name}</td>
	</tr>
	<tr>
		<td>性别：</td><td>${info/sex}</td>
	</tr>
	<tr>
		<td>当前年级：</td><td>${info/currentGrade}</td>
	</tr>
	<tr>
		<td>当前积分：</td><td><b><font color="blue">${info/credits}</font></b></td>
	</tr>
	<tr>
		<td>vip等级：</td><td><b>${info/vip}</b></td>
	</tr>
</table>
</div>
</body>
</html>

